<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/05/22 20:54:41 yvyang Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/e4/tools/workbench/node"
            class="org.eclipse.e4.xwt.tools.categorynode.node.NodePackage"
            genModel="model/Node.genmodel"/>
   </extension>

</plugin>
