<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.e4.xwt.vex.customPalette">
      <category
            icon="icons/new.png"
            name="My Category">
         <tool
               content="&lt;RadioGroup x:style=&quot;SWT.NONE&quot;&gt;&lt;RadioGroup.layout&gt;&lt;GridLayout numColumns=&quot;1&quot; /&gt;&lt;/RadioGroup.layout&gt;&lt;/RadioGroup&gt;"
               icon="icons/radiogroup.png"
               name="RadioGroup">
         </tool>
      </category>
   </extension>

</plugin>
