<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/org.soyatec.xwt.xpath/src/org/soyatec/xwt/xpath/books.xsd"
            class="org.eclipse.e4.xwt.emf.test.Books.BooksPackage"
            genModel="src/org/eclipse/e4/xwt/emf/test/Books.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="books"
            class="org.eclipse.e4.xwt.emf.test.Books.util.BooksResourceFactoryImpl"/>
   </extension>

</plugin>
