<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="metaclasses" name="XWT metaclasses" schema="schema/metaclasses.exsd"/>
   <extension-point id="converters" name="XWT converters" schema="schema/converters.exsd"/>
   <extension-point id="metaclassFactories" name="Metaclass Factory" schema="schema/metaclassFactories.exsd"/>
   <extension-point id="logger" name="logger" schema="schema/logger.exsd"/>

</plugin>
