<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.workbench.rendererfactory">
      <factory
            class="org.eclipse.e4.tools.ui.designer.render.DesignerWorkbenchRendererFactory"
            id="org.eclipse.e4.tools.ui.designer.renderers.default">
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.e4.tools.ui.designer.viewContribution"
            targetID="org.eclipse.jdt.ui.PackageExplorer">
         <action
               class="org.eclipse.e4.tools.ui.designer.actions.OpenWorkbenchDesignerAction"
               id="org.eclipse.e4.tools.ui.designer.actions.OpenWorkbenchDesignerAction"
               label="%action.label"
               style="push">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.tools.ui.designer.E4Designer"
            contributorClass="org.eclipse.e4.xwt.tools.ui.designer.core.editor.DesignerActionBarContributor"
            default="true"
            extensions="xmi"
            filenames="Application"
            id="org.eclipse.e4.tools.ui.designer.E4Designer"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.tools.ui.designer.E4Designer"
            contributorClass="org.eclipse.e4.xwt.tools.ui.designer.core.editor.DesignerActionBarContributor"
            default="true"
            extensions="e4xmi"
            filenames="Application"
            id="org.eclipse.e4.tools.ui.designer.E4Designer"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.e4"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.e4"
            class="org.eclipse.e4.tools.ui.designer.wizards.E4NewProjectWizard"
            finalPerspective="org.eclipse.e4.xwt.ui.perspective"
            hasPages="true"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.gif"
            id="org.eclipse.e4.tools.ui.designer.E4NewProjectWizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
</plugin>
